/* Write your CSS here */
.denomination-item {
    width: 48%;
    margin-bottom: 16px;
    list-style-type: none;
}

.denomination-button {
    color: #d4d2db;
    background-color: #382f5a;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    outline: none;
}

@media screen and (min-width: 768px) {
    .denomination-button {
        font-size: 24px;
    }
}